	<!-- Navigation bar-->
	<nav class="navbar justify-content-start" id="nsnavbar" style="background-color: #0b3044;">
		<form action="/home" method="get">
			<button class="navbar-toggler btn-primary align-content-start" type="submit" >Home</button>
		</form>
		<form action="/reviews" method="get">
			<button class="navbar-toggler btn-primary align-content-start" type="submit">Reviews</button>
		</form>
	</nav>
	     
