<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Profile</title>
    <link rel='icon' href='../resources/img/admin_transparent_icon.png' type='image/x-icon'/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/> -->
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  
  <body id="grad">
    <!-- spacing saver for top -->
    <br><br><br><br><br><br><br><br>
    <div class="row">
      <div class="container border p-1 col-7 ml-5 ">
        <ul class="nav nav-tabs flex-row">
          <li class="nav-item">
            <a class="nav-link btn-primary" aria-current="page" href="#">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-primary" href="#" onclick="">Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-primary" href="#" onclick="">Messages</a>
          </li>
        </ul>
      </div>
      <div class="container border p-1 col-3 ">
        <div class="row mt-3">
          <div class="card p-2 rounded-circle mx-auto">
            <img class="card-img-top rounded-circle" id="user_img" src="../resources/img/temp_image.svg" alt="Placeholder">
          </div>
        </div><br>
        <div class="row">
          <button type="button" class="btn btn-primary btn-outline-light mx-auto" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="">Edit Profile</button>
        </div>
        <div class="row">
          <br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>

  </body>
</html>