/* Add any css you want to use for you website here */


/*shadow effect for the note squad logo*/
#NoteSquadLogo {
    padding: 10px;
    filter: drop-shadow(5px 5px 4px #303036);
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}  

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

/* body {
    background-color: lightsteelblue;
} */

button , a :active {
    background-color: blue;
    color: white;
}

/* #grad{
    height: 920px;
    background-color:  grey;
    background-image: radial-gradient(black,steelblue,lightseagreen,teal,lightyellow);
} */

/* #mybtn{
    color:  cyan;
    outline: white;
    background-color: light;
} */

#nsnavbar{
  background-image: linear-gradient(white, lightgrey);
}

.container-fluid{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    padding: 3%;
}