        <!-- This is a modal used to modify profile information with .js -->
        <div id="myModal" class="modal fade" role="dialog"> 
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title">Edit Profile</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body font-weight-bold">
                        <div class="form-group">
                            <label for="first">First Name</label>
                            <input id="first" type="text" class="form-control" placeholder="First Name" required>
                        </div>
                        <div class="form-group">
                            <label for="last">Last Name</label>
                            <input id="last" type="text" class="form-control" placeholder="Last Name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input id="email" type="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="university">University</label>
                            <input id="university" type="text" class="form-control" placeholder="University" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block login-btn" data-dismiss="modal" onclick="saveData();">Save Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>