	<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="home.html">
		<img class="rounded-circle" src="../resources/img/cu_boulder_logo.jpg" alt="" width="30" height="30">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item">
			<a class="nav-link" href="/home">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/team_stats">Season Stats</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/player_info">Player Information</a>
		  </li>
		</ul>
		<div class="form-inline my-2 my-lg-0">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
		</div>
	  </div>
	</nav> -->

	    <!-- Navigation bar-->
    <nav class="navbar" id="nsnavbar" style="font-size : 20px; padding: 10px;">
      <button class="navbar-toggler ml-3" onclick="location.href='../views/login.html'">Home</button>
      <button class="navbar-toggler mx-auto" href="#myModal" data-toggle="modal" onclick="onOpenModal();">Edit Profile</button>
      <button class="navbar-toggler mr-3" id="Tour">Tour</button>
    </nav>
    <div id="customBG">
    <!-- Logo -->
    <div class="flex-row ml-2 col-2">
      <img id="NoteSquadLogo" src="../resources/img/EDITED NOTESQUAD.png"></img>
    </div>
    <!-- Search bar -->
    <div class="ml-5">
      <div class="rounded-pill col-10 ml-5" style="min-width: 30pc;">
        <form action=""> <!-- where to send the data entered into search bar -->
            <div id="roundcorners" class="input-group" style="padding: 5px; border-color: rgb(138, 8, 127); background-color: rgb(214, 206, 206);">
                <button id="search_button" class="btn btn-outline-dark btn-primary rounded-pill text-light"><i class="fa fa-search"></i>Search</button>
              <input type="search" placeholder="What're you searching for? Notes? People?" aria-describedby="search_button" class="form-control rounded-pill bg-none border mx-1">
            </div>
          </div>
        </form>
    </div>
    <br><br>