        <!-- container for profile info right side picture-->
        <div id="profile-round" class="container col-3" style="height: 47rem;">
            <div class="flex-row">
            <div class="row px-3 mt-3" >
                <div class="card rounded-circle mx-auto" style="background-color: rgb(138, 8, 127);">
                <img class="card-img-top rounded-circle" id="user_img" src="../resources/img/hackerman_profile.jpg" alt="Placeholder">
                </div>
            </div>
            <br>
            <!--main profile information-->
            <div id="profile_info" class="row mx-auto" >
                <div class="table-responsive border text-black border-dark mx-auto" style="background-color: white">
                <table class="table" style="margin-bottom: 0rem;">
                    <tr>
                    <th>Username:</th>
                    <td><span id="u_Username">Admin</span></td>
                    </tr>
                    <tr>
                    <th>Email:</th>
                    <td><span id="u_Email">Admin@Colorado.edu</span></td>
                    </tr>
                    <tr>
                    <th>First Name:</th>
                    <td><span id="u_Fname">Administration</span></td>
                    </tr>
                    <tr>
                    <th>Last Name:</th>
                    <td><span id="u_Lname">Owner</span></td>
                    </tr>
                    <tr>
                    <th>University:</th>
                    <td><span id="u_University">Colorado University</span></td>
                    </tr>
                </table>
                </div>
            </div>
            <!--account type-->
            <div class="table-responsive text-center ">
                <table class="table" style="text-align: center; margin: 0px; border-spacing: 0;">
                <tr>
                    <th>Account Type:</th>
                </tr>
                <tr>
                    <td id="u_type">Admin</td>
                </tr>
                </table>
            </div>
            </div>
            <!-- end profile -->
        </div>