        <!-- container for messages/about/notes -->
        <div id="profile-round" class="container mb-3">
            <h3 class="pl-2">About Me</h3>
            <div id="about_me" class="flex-row" style="background-color:white">
                <!--editable table for about me or notes or messages information i hope-->
                <div class="table-responsive border my-3">
                    <table class="table">
                    <tr>
                        <td >
                        <span id="user_main"></span>
                        <p id="u_desc">
                            <!-- <script>fillForm('user_main')</script> -->
                            <!--function to fill big boxes with gibberish-->
                        </p> 
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- container for messages/about/notes -->
        <div id="profile-round" class="container my-3">
            <h3 class="pl-2">Notes</h3>
            <div id="note" class="flex-row" style="background-color:white">
                <!--editable table for about me or notes or messages information i hope-->
                <div class="table-responsive border my-3">
                    <table class="table">
                    <tr>
                        <td >
                        <span id="user_main"></span>
                        <p id="u_notes">
                            <!-- <script>fillForm('user_main')</script> -->
                            <!--function to fill big boxes with gibberish-->
                        </p> 
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
                <!-- container for messages/about/notes -->
        <div id="profile-round" class="container mt-3">
            <h3 class="pl-2">Messages</h3>
            <div id="message" class="flex-row" style="background-color:white">
                <!--editable table for about me or notes or messages information i hope-->
                <div class="table-responsive border my-3">
                    <table class="table">
                    <tr>
                        <td >
                        <span id="user_main"></span>
                        <p id="u_mess">
                            <%
                            console.log("\nBefore u_notes");
                            if (data) {
                            var display = '';
                            data.forEach(function(item){
                                display += `<p>${item.note_title}</p><p>${item.filepath}</p>`;
                            }); %>
                            <%- display %>
                            <% } %>
                            
                            <!-- <script>fillForm('user_main')</script> -->
                            <!--function to fill big boxes with gibberish-->
                        </p> 
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>