
<%- include('../partials/header'); -%>

<body>
  <%- include('../partials/menu'); -%>
  <div class="container-fluid justify-content-center" style="padding: 1%; ">
    <div class="row justify-content-center" style="background-color:blueviolet"><h2 style="font-weight: bold; font-size: 3.0em">About</h2></div>
    <div class="column justify-content-center" style="width: 80%; padding-left: 25%; font-family: 'Times New Roman', Times, serif;">
      <br>
      <br>
      <div class="row justify-content-center">
        <br>
      <h3 class="text-center"> This website was made as my final project submission for Software Development Methods and Tools by Mark Davis.</h3>
    </div>
    </div>
    <div class="container justify-content-center" style="padding-top: 1%; padding-bottom: 1%;">
      <% if (error) { %>
        <div class="alert alert-danger justify-content-center"><%- message %></div>
    <% }; %>
    
    </div>
  </div>
</body>

<%- include('../partials/footer'); -%>
